.cont{
    margin-left: 20px;
    margin-top: 40px;
    
}
.title{
    color: #111111;
}
.subtitle{
    color: #696969;
    margin-left: 20px;
    margin-top: -15px;
}
.price{
    margin-left: 370px;
    margin-top: -90px;
}